<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VisitsForm</title>
</head>
<body>

	<% if @visit.error.any? %>
		<ul>
			<% @visit.errors.full_message.each do |error_message| %>
				<li><%= error_message %></li>
			<% end %>
		</ul>
	<% end %>

	<%= form_for [@location, @new_visit] do |f| %>
		<%= f.label :user_name %>
		<%= f.text_field :user_name %>
	<br/>
		<%= f.datetime_select(:from_date, default: Time.now + 1.days) %>
		<%= f.datetime_select(:to_date, default: Time.now + 1.days) %>
	<br/>
		<%= f.submit "Submit" %>
	<% end %>
</body>
</html>